.button {
  background: #066f14;
  border-radius: 4px;
  border: none;
  color: white;
  width: 81px;
  height: 42px;
  font-size: 18px;
}

.button.nav-button {
    font-size: 14px;
}

.button.button-learn {
  width: 160px;
  height: 55px;
}

.button.button-readmore {
  width: 155px;
  height: 55px;
}

.button.view-all-button {
  width: 131px;
  height: 55px;
}

.button.subscribe-button {
  width: 98px;
  height: 40px;
  font-size: 14px;
}
