.header.container {
  margin-top: 1em;
}
.homepage-image {
  position: relative;
  width: 557px;
  height: 719px;
}

.homepage-image-box {
  position: relative;
  display: flex;
  justify-content: right;
}

.homepage-block-one h1 {
  font-size: 72px;
  font-family: "Nunito";
  font-style: normal;
  margin-bottom: 24px;
}

.homepage-block-one p {
  margin-bottom: 40px;
}
.homepage-block-one {
  position: relative;
  padding-top: 52px;
}

.home-col {
  text-align: center;
}

.button.button-learn {
  margin-bottom: 60px;
}

*.container h1,
.container h2,
.container h3,
.containerh4 {
  font-family: "Nunito";
  font-style: normal;
  color: #1a1a1a;
  font-weight: 700;
}

.homepage {
  margin-bottom: 80px;
}
.backgroundpic {
  left: 68%;
  bottom: 19%;
  z-index: -1;
  position: absolute;
}

* p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4a4a4a;
}

.body {
  background: #ececec;
}

.nav-item {
  display: flex;
  align-items: center;
}

.homepage-button-one {
  top: 10%;
  left: 84%;
  position: absolute;
}

.homepage-button-one::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 165px;
  width: 120px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("/assets/css/image/buttonsdlc.svg");
}

.homepage-button-two {
  top: 25%;
  left: 20%;
  position: absolute;
}

.homepage-button-two::before {
  content: "";
  position: absolute;
  transform: rotate(180deg);
  top: 20px;
  left: 165px;
  width: 120px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("/assets/css/image/buttonsdlc.svg");
}

.homepage-button-three {
  top: 80%;
  left: 85%;
  position: absolute;
}

.homepage-button-three::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 165px;
  width: 120px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("/assets/css/image/buttonsdlc.svg");
}
