.homepage-image {
  width: 557px;
  height: 719px;
}

.homepage-block-one h1 {
  font-size: 72px;
  font-family: "Nunito";
  font-style: normal;
  margin-bottom: 24px;
  
}

.homepage-block-one p {
    margin-bottom: 40px;
  }
.homepage-block-one {
    margin-top: 52px;
}

.button.button-learn {
    margin-bottom: 60px;
}

*.container h1,.container h2,.container h3, .containerh4 {
  font-family: "Nunito";
  font-style: normal;
  color: #1A1A1A;
  font-weight: 700;
}

.homepage {
    margin-bottom: 80px;
}

* p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4A4A4A;
}

.body {
    background: #ECECEC;
}