.homepage-image {
  position: absolute;
  width: 557px;
  height: 719px;
}

.homepage-image-box {
  display: flex;
  justify-content: right;
}

.homepage-block-one h1 {
  font-size: 72px;
  font-family: "Nunito";
  font-style: normal;
  margin-bottom: 24px;
}

.homepage-block-one p {
  margin-bottom: 40px;
}
.homepage-block-one {
  padding-top: 52px;
}

.button.button-learn {
  margin-bottom: 60px;
}

*.container h1,
.container h2,
.container h3,
.containerh4 {
  font-family: "Nunito";
  font-style: normal;
  color: #1a1a1a;
  font-weight: 700;
}

.homepage {
  margin-bottom: 80px;
}
.backgroundpic {
  left: 30%;
  bottom: 30%;
  z-index: -1;
  position: absolute;
}

* p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4a4a4a;
}

.body {
  background: #ececec;
}

.nav-item {
  display: flex;
  align-items: center;
}
